.container--home {
    display: flex;
    height: 120vh;
    width: 100vw;
    margin: 0vw;
    flex-direction: column;
    position: relative;
    z-index: 1;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10em;
}

.container--item {
    font-size: 6rem;
    color: var(--main-black);
    cursor: pointer;
    margin: -0.1em 0em;
    /* overflow: hidden; */
}

.header-1 {
    text-align: left;
    margin-right: 3.5em;
    /* font-size: 4rem; */
    font-weight: bold;
}

.header-2 {
    text-align: left;
    grid-column: 4/10;
    grid-row: 5/6;
    /* font-size: 4rem; */
    font-weight: bold;
}

.headline {
    text-align: left;
    margin-right: 1.8em;
    font-size: 8rem;
    font-weight: 100;
    /* overflow: hidden; */
}

.special {
    color: var(--main-blue);
}

.container--icons {
    display: flex;
    margin-right: 30em;
}

.icon--github {
    width: 50px;
    margin: 1em;
}

.icon--linkedin {
    width: 50px;
    margin: 1em;
}

@media screen and (max-width: 850px) {
    .container--home {}
    .header-1 {
        font-size: 5em;
    }
    .header-2 {
        font-size: 5em;
    }
    .container--item span {
        font-size: 1em;
    }
    .headline {
        transform: translateX(-55px);
        font-size: 5em;
    }
    .container--icons{
        transform: translateX(60px);
    }
}

@media screen and (max-width: 500px) {
    .container--home {}
    .container--item {}
    .headline {
        font-size: 2rem;
        transform: translateX(-18px);
    }
    .header-1 {
        font-size: 2rem;
        margin: 0em;
        transform: translateX(-50px);
    }
    .header-2 {
        font-size: 2rem;
        margin: 0em;
        transform: translateX(5px);
    }
    .container--icons{
        transform: translate(190px, -15px) scale(0.7)
        
    }
}